<div class="category">
  <h1>
    {{categoryName}}
  </h1>
</div>
<div class="row">
  <div class="span12" id="content">
    <ul class="thumbnails">
      <li class="span3" ng-repeat="product in category">
        <a href="/#/category/{{categoryName}}/{{product.name}}">
        <div class="thumbnail">
          <img src="{{product.img}}" alt="thumbnail">

          <div class="caption">
            <hr>
            <h2 class="center">
              {{product.name}}
            </h2>
          </div>
        </div>
        </a>
      </li>
    </ul>

  </div>
</div>
