<div class="row">
  <div class="span12" id="content">
    <ul class="thumbnails">
      <li class="span4" ng-repeat="category in list">
        <a href="/#/category/{{category.name}}">
          <div class="thumbnail">
            <img src="{{category.img}}" alt="thumbnail"/>
            <div class="caption">
              <h2 class="center">
                {{category.name}}
              </h2>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
