<div class="category">
  <h1>
    <a href="/#/category/{{categoryName}}">{{categoryName}}</a>
  </h1>
</div>
<div class="row">
  <div class="span12" id="content">
    <ul class="thumbnails">
      <li class="span12">
        <div ng-include src="content_url"></div>
      </li>
    </ul>
  </div>
</div>
