<div class="row">
  <div class="span9" id="content">
    <ul class="thumbnails">
      <li class="country" ng-repeat="country in list">
        <h3>
          {{country.region}}
        </h3>
        <ul class="wheretobuy">
          <li class='list' ng-repeat="shop in country.shops">
            <span>{{shop.name}}</span>
            <span><a href='http:\\{{shop.url}}' target="_blank">{{shop.url}}</a></span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
