<div class="thumbnail">
  <div class="row">
    <div class="span7">
      <img src="{{img}}" alt="thumbnail"/>
    </div>
    <div class="span4">
      <div class="productDescription">
        // Product Summary
      </div>
    </div>
  </div>

  <div class="caption">
    <hr>
    <h2>{{name}}</h2>
    <div>
      // Production Detail
    </div>
  </div>
</div>
