<div class="thumbnail">
  <div class="row">
    <div class="span7">
      <img src="{{img}}" alt="thumbnail"/>
    </div>
    <div class="span4">
      <div class="productDescription">
        <table width="100%" cellspacing="5" cellpadding="0" border="0">
          <tbody><tr><td colspan="2" class="maga3"><b>Strap - Black Net</b></td></tr> <!--첫자를 대문자로 바꾸고 싶으면 이거 삽입:  Sun499 Strap - Black Net-->
          <tr><td colspan="2" class="maga4">50mm Guitar Strap<br><br></td></tr>			<tr><td width="80"></td><td width="230"></td></tr>
          <tr><td>제조사</td><td>Sun499<br></td></tr>			<tr><td>아이템 #</td><td><b><u>S-50RBB</u></b></td></tr>
          <tr><td>원산지</td><td>한국<br></td></tr><!--		<tr><td>원산지</td><td>한국</td></tr> -->
          <tr><td>가격</td><td>28,000원</td></tr>
          <tr><td colspan="2" class="maga1"><br><p align="justify"><b>Sun499 스트랩</b>은 한국에서 제작된 고급 나일론 스트랩 시리즈입니다.
            <br><u>안전벨트</u> 재질과 비슷하지만 더 두툼한 <u>나일론</u> 재질을 사용하여 부드럽고 질기면서도 내구성이 뛰어납니다.
            <br>부드럽고도 질긴 <u>천연 소가죽 탭</u>을 장착하여 고급스러움과 내구성과 기능성 모두를 만족시킵니다.
            <br><u>크롬 컬러의 금속 하드웨어</u>를 적용해서 역시 내구성과 고급스러움을 동시에 추구했습니다.
            <br>
            <br>길이조절: 82 ~ 146 cm</p></td></tr>
          </tbody></table>
      </div>
    </div>
  </div>

  <div class="caption">
    <hr>
    <h2>{{name}}</h2>
    <div>
      <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="960F0F">
        <tbody><tr>
          <td width="17" height="20">&nbsp;</td>
          <td align="left" valign="top" colspan="2">
            <!--아랫글시작-->

            <p align="justify">
              <style>
                P {margin-top:2px;margin-bottom:2px;}
              </style>

              <meta name="GENERATOR" content="MSHTML 8.00.6001.18928">

            </p><p>일반적인 50밀리(2인치) 폭의&nbsp;레드 나일론에&nbsp;블랙 망사와&nbsp;블랙 가죽탭을 매치한&nbsp;스트랩입니다.</p>
            <p>크롬 하드웨어를 장착해서 내구성과 고급스러움을 더했습니다.</p>
            <p><img border="0" src="/img/goods/PS-50RBB-view1.jpg"></p>
            <p>&nbsp;</p>
            <p>부드럽고 질긴 두 겹의&nbsp;블랙 천연 소가죽 탭에 Sun499 로고가 찍혀있습니다.</p>
            <p><img border="0" src="/img/goods/PS-50RBB-view2.jpg"></p>
            <p>&nbsp;</p>
            <p>직사각형의 하드웨어에 직사각형의 탭 디자인을 적용해서 단순미와 세련미를 살렸습니다.</p>
            <p><img border="0" src="/img/goods/PS-50RBB-view3.jpg"></p>
            <p>&nbsp;</p>
            <p><img border="0" src="/img/goods/PS-50RBB-view4.jpg"></p><p></p>

            <!--아랫글끝-->
          </td>
        </tr>
        </tbody></table>
    </div>
  </div>
</div>
