<div class="thumbnail">
  <div class="row">
    <div class="span7">
      <img src="{{img}}" alt="thumbnail"/>
    </div>
    <div class="span4">
      <div class="productDescription">
        <table width="100%" cellspacing="5" cellpadding="0" border="0">
          <tbody><tr><td colspan="2" class="maga3"><b>Electric Gigbag</b></td></tr> <!--첫자를 대문자로 바꾸고 싶으면 이거 삽입:  Sun499 Electric Gigbag-->
          <tr><td colspan="2" class="maga4">for Electric Guitars<br><br></td></tr>			<tr><td width="80"></td><td width="230"></td></tr>
          <tr><td>제조사</td><td>Sun499<br></td></tr>			<tr><td>아이템 #</td><td><b><u>S-EG</u></b></td></tr>
          <tr><td>원산지</td><td>한국<br></td></tr><!--		<tr><td>원산지</td><td>한국</td></tr> -->
          <tr><td>가격</td><td>138,000원</td></tr>
          <tr><td colspan="2" class="maga1"><br><p align="justify">세로 112 cm
            <br>가로 42 cm
            <br>두께 8 cm
            <br>무게 1.7 kg</p></td></tr>
          </tbody></table>
      </div>
    </div>
  </div>

  <div class="caption">
    <hr>
    <h2>{{name}}</h2>


    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="960F0F">
      <tbody><tr>
        <td width="17" height="20">&nbsp;</td>
        <td align="left" valign="top" colspan="2">
          <!--아랫글시작-->

          <p align="justify">
            <style>
              P {margin-top:2px;margin-bottom:2px;}
            </style>

            <meta name="GENERATOR" content="MSHTML 9.00.8112.16448">

          </p><div><br></div>
          <div>
            <div>악기의 보호와 편안한 착용감이라는 긱백의 기본에 충실하면서 고품질 국산 원단과 세련된 디자인을 적용한 모델입니다.</div>
            <div>스트랫과 레스폴 등 기본 일렉트릭 기타에 맞는 사이즈입니다.</div></div>
          <div><br></div>
          <div><img border="0" src="/img/goods/S-EG-view1.jpg"><br><img border="0" src="/img/goods/S-EG-view2.jpg"></div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>포켓에 Sun499 로고가 자수로 박혀 있습니다.</div>
          <div>&nbsp;</div>
          <div><img border="0" src="/img/goods/S-EG-view3.jpg"></div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div><strong>패딩과 내부입술</strong><br>앞판과 뒷판에 30밀리미터 두께의 고밀도 스폰지를 넣어 악기를 보호하는 기능을 극대화하고 반복적인 사용에 따른 변형과 눌림을 최소화했습니다.<br>내부에는 추가로 직경 25밀리미터의 입술을 달아 기타의 측면과 넥 및 헤드의 보호 성능을 최대화했습니다.</div>
          <div>&nbsp;</div>
          <div><img border="0" src="/img/goods/S-EG-view4.jpg"></div>
          <div>&nbsp;</div>
          <div>바닥면에는 추가로 10밀리미터 두께의 토일론(toilon) 패딩이 들어있어 바닥에 자주 닿게 되는 기타의 하단과 엔드핀 부위를 3중으로 보호합니다.</div>
          <div>&nbsp;</div>
          <div><img border="0" src="/img/goods/S-EG-view5.jpg"></div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div><strong>원단</strong><br>앞판과 뒷판, 내부의 헤드머신이 닿는 부분에는 입자가 굵고 두꺼운 원단을 사용하여 내구성을 높이고<br>옆면과 멜빵 부분에는 입자가 상대적으로 가늘고 마찰력이 더 높은 원단을 사용하여 유연성을 높였습니다.</div>
          <div>&nbsp;</div>
          <div><img border="0" src="/img/goods/S-EG-view6.jpg"></div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div><strong>손잡이</strong><br>질기고 부드러운 나일론 소재의 손잡이가 부착되어 있습니다.<br>기본 손잡이 이외에 앞면과&nbsp;뒷면에도 보조 손잡이들이 달려있습니다.</div>
          <div>&nbsp;</div>
          <div><img border="0" src="/img/goods/S-EG-view7.jpg"></div>
          <div>&nbsp;</div>
          <div><img border="0" src="/img/goods/S-EG-view8.jpg"></div>
          <div>&nbsp;</div>
          <div><img border="0" src="/img/goods/S-EG-view9.jpg"></div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div><strong>멜빵과 금속장식</strong><br>멜빵은 손잡이와 마찬가지로 부드럽고 질긴 나일론 재질에 내부 충전재와 같은 재질의 30밀리미터 고밀도 스폰지가 채워져 있어 장시간 사용해도 눌림과 변형이 적습니다.</div>
          <div>&nbsp;</div>
          <div><img border="0" src="/img/goods/S-EG-view10.jpg"></div>
          <div>&nbsp;</div>
          <div>길이조절을 위한 장식은 내구성과 강도가 강한 크롬컬러의 금속재질입니다.</div>
          <div>&nbsp;</div>
          <div><img border="0" src="/img/goods/S-EG-view11.jpg"></div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div><strong>포켓</strong><br>앞면의 포켓은 A4 바인더와 악보집 등이 여유있게 들어가는 정도의 넉넉한 사이즈입니다.</div>
          <div>&nbsp;</div>
          <div><img border="0" src="/img/goods/S-EG-view12.jpg"></div>
          <div>&nbsp;</div>
          <div>* 제품사양은 예고없이 변경될 수 있습니다.</div><p></p>

          <!--아랫글끝-->
        </td>
      </tr>
      </tbody></table>
  </div>
</div>
