<div class="thumbnail">
  <div class="row">
    <div class="span7">
      <img src="{{img}}" alt="thumbnail"/>
    </div>
    <div class="span4">
      <div class="productDescription">
        <table width="100%" cellspacing="5" cellpadding="0" border="0">
          <tbody><tr><td colspan="2" class="maga3"><b>Pedalboard Gigbag - Standard</b></td></tr> <!--첫자를 대문자로 바꾸고 싶으면 이거 삽입:  Sun499 Pedalboard Gigbag - Standard-->
          <tr><td colspan="2" class="maga4">Metal Frame Inside<br><br></td></tr>			<tr><td width="80"></td><td width="230"></td></tr>
          <tr><td>제조사</td><td>Sun499<br></td></tr>			<tr><td>아이템 #</td><td><b><u>S-BB-STD</u></b></td></tr>
          <tr><td>원산지</td><td>한국<br></td></tr><!--		<tr><td>원산지</td><td>한국</td></tr> -->
          <tr><td>가격</td><td>89,000원</td></tr>
          <tr><td colspan="2" class="maga1"><br><p align="justify">크기: 72 cm x 40 cm x 12 cm
            <br>무게: 2.4 kg</p></td></tr>
          </tbody></table>
      </div>
    </div>
  </div>

  <div class="caption">
    <hr>
    <h2>{{name}}</h2>
    <div>
      <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="960F0F">
        <tbody><tr>
          <td width="17" height="20">&nbsp;</td>
          <td align="left" valign="top" colspan="2">
            <!--아랫글시작-->

            <p align="justify">
              <style>
                P {margin-top:2px;margin-bottom:2px;}
              </style>

              <meta name="GENERATOR" content="MSHTML 9.00.8112.16450">

            </p><div><br></div>
            <div><strong>Sun499 페달보드 긱백 스탠다드</strong></div>
            <div>고품질 원단과 메탈 프레임을 적용하여 긱백의 이동 편의성과 하드케이스의 견고함을 동시에 추구한 제품입니다.</div>
            <div><img border="0" src="/img/goods/S-BB-STD-view1.jpg"></div>
            <div>&nbsp;</div>
            <div><img border="0" src="/img/goods/S-BB-STD-view2.jpg"></div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div><strong>내부</strong></div>
            <div>앞판과 뒷판에는 토이론 패딩을, 옆면에는 금속 프레임과 플라스틱 완충재를 내장해서 외부 충격으로부터 페달보드를 보호하고 스스로 견고한 형태를 유지할 수 있게 설계되었습니다.</div>
            <div><img border="0" src="/img/goods/S-BB-STD-view3.jpg"></div>
            <div>&nbsp;</div>
            <div><img border="0" src="/img/goods/S-BB-STD-view4.jpg"></div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div><strong>손잡이와 지퍼</strong></div>
            <div>부드럽고 질긴 나일론 손잡이와 양쪽으로 열 수 있는 지퍼가 장착되어 있습니다.</div>
            <div><img border="0" src="/img/goods/S-BB-STD-view5.jpg"></div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div><strong>보조멜빵</strong></div>
            <div>어깨에 메고 이동할 때 사용할 수 있는 어깨끈과 패딩입니다.</div>
            <div>역시 질기면서도 부드러운 나일론 소재에 금속 고리를 적용하여 멋과 견고함을 살렸습니다.</div>
            <div><img border="0" src="/img/goods/S-BB-STD-view6.jpg"></div>
            <div>&nbsp;</div>
            <div>패딩의 안쪽면에는 미끄럼 방지 기능의 우레탄 소재 원단을 사용했습니다.</div>
            <div><img border="0" src="/img/goods/S-BB-STD-view7.jpg"></div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div><strong>발</strong></div>
            <div>바닥면에는 세 개의 우레탄 발이 장착되어 있습니다.</div>
            <div><img border="0" src="/img/goods/S-BB-STD-view8.jpg"></div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div><strong>자수 로고</strong></div>
            <div>포켓의 중앙에 Sun499 로고가 자수로 새겨져 있습니다.</div>
            <div><img border="0" src="/img/goods/S-BB-STD-view9.jpg"></div><p></p>

            <!--아랫글끝-->
          </td>
        </tr>
        </tbody></table>
    </div>
  </div>
</div>
