<div class="thumbnail">
  <div class="row">
    <div class="span7">
      <img src="{{img}}" alt="thumbnail"/>
    </div>
    <div class="span4">
      <div class="productDescription">
        <table width="100%" cellspacing="5" cellpadding="0" border="0">
          <tbody><tr><td colspan="2" class="maga3"><b>Pedalboard - Standard</b></td></tr> <!--첫자를 대문자로 바꾸고 싶으면 이거 삽입:  Sun499 Pedalboard - Standard-->
          <tr><td colspan="2" class="maga4">Aluminium Alloy, Folding Handle<br>62 cm x 32 cm<br><br></td></tr>			<tr><td width="80"></td><td width="230"></td></tr>
          <tr><td>제조사</td><td>Sun499<br></td></tr>			<tr><td>아이템 #</td><td><b><u>S-B-STD</u></b></td></tr>
          <tr><td>원산지</td><td>한국<br></td></tr><!--		<tr><td>원산지</td><td>한국</td></tr> -->
          <tr><td>가격</td><td>75,000원</td></tr>
          <tr><td colspan="2" class="maga1"><br><p align="justify">크기: 62 cm x 32 cm (손잡이 제외)
            <br>무게: 2.0 kg</p></td></tr>
          </tbody></table>
      </div>
    </div>
  </div>

  <div class="caption">
    <hr>
    <h2>{{name}}</h2>
    <div>
      <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="960F0F">
        <tbody><tr>
          <td width="17" height="20">&nbsp;</td>
          <td align="left" valign="top" colspan="2">
            <!--아랫글시작-->

            <p align="justify">
              <style>
                P {margin-top:2px;margin-bottom:2px;}
              </style>

              <meta name="GENERATOR" content="MSHTML 9.00.8112.16450">

            </p><p>&nbsp;</p>
            <p><strong>알루미늄 합금</strong></p>
            <p>오랜&nbsp;세월 사용해도 녹이 슬지&nbsp;않으며 무게가 가볍고 강도가 강한 알루미늄 합금 재질의 신개념 페달보드입니다.</p>
            <p>2.5 밀리미터 두께의 판을 절곡해서 강도를 높였으며&nbsp;날카로운 모서리가 없도록&nbsp;샌딩 처리되어 있습니다.</p>
            <p><img border="0" src="/img/goods/S-B-STD-view1.jpg"></p>
            <p>&nbsp;</p>
            <p>바닥면에는 미끄럼과 보드의 변형을 방지하기 위한 천연고무 재질의 고무발 8개가 부착되어 있습니다.</p>
            <p><img border="0" src="/img/goods/S-B-STD-view2.jpg"></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>폴딩 손잡이</strong></p>
            <p>보드 옆면에 90도로 접을 수 있는 크롬 도금 폴딩 손잡이가 장착되어 있습니다.</p>
            <p>보드면을 양쪽 끝까지 활용할 수 있으며&nbsp;보드의 양쪽 가장자리에 어떤 이펙터를 놓아도 손잡이의 위치나 높이&nbsp;때문에 케이블&nbsp;플러그가 방해받지 않는다는 것이 강점입니다.</p>
            <p><img border="0" src="/img/goods/S-B-STD-view3.jpg"></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>로고 스티커</strong></p>
            <p>밑면과&nbsp;윗면 아랫면에 은박 <strong>Sun499 로고 스티커</strong>가 부착되어 있습니다.</p>
            <p><img border="0" src="/img/goods/S-B-STD-view4.jpg"></p>
            <p>&nbsp;</p>
            <p><img border="0" src="/img/goods/S-B-STD-view5.jpg"></p>
            <p>&nbsp;</p>
            <p><img border="0" src="/img/goods/S-B-STD-view6.jpg"></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>세로 길이의 기준 - BOSS 볼륨페달</strong></p>
            <p>스탠다드 모델은 세로 길이가 BOSS 볼륨페달에 L자 플러그를 꽂았을 때 약간 여유있게 사용할 수 있는 정도로 제작되었습니다.</p>
            <p><img border="0" src="/img/goods/S-B-STD-view7.jpg"></p><p></p>

            <!--아랫글끝-->
          </td>
        </tr>
        </tbody></table>
    </div>
  </div>
</div>
